# Examén 1 - Regresión lineal

|                |   |
:----------------|---|
| **Nombre**     | Eddie Aguilar  |
| **Fecha**      | 24/02/2025  |
| **Expediente** | 739352  |

## Instrucciones

Entrega un modelo para predecir el "IMDB_Rating" de una película dados los factores que consideres adecuados. Trabaja con 3 propuestas y presenta los argumentos para elegir un modelo final.

## Desarrollo

In [240]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
import numpy as np 

data = pd.read_csv(r"C:\Users\AgJo413\Documents\GitHub\Lab_std\labstds\Data\imdb_top1000_lae.csv")


data.head()

,Unnamed: 0,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,0,The Shawshank Redemption,1994,A,142 min,9.3,80.0,Frank Darabont,"28,341,469",1,...,0,0,0,0,0,0,0,0,0,0
1,1,The Godfather,1972,A,175 min,9.2,100.0,Francis Ford Coppola,"134,966,411",1,...,0,0,0,0,0,0,0,0,0,0
2,2,The Dark Knight,2008,UA,152 min,9.0,84.0,Christopher Nolan,"534,858,444",1,...,0,0,0,0,0,0,0,0,0,0
3,3,The Godfather: Part II,1974,A,202 min,9.0,90.0,Francis Ford Coppola,"57,300,000",1,...,0,0,0,0,0,0,0,0,0,0
4,4,12 Angry Men,1957,U,96 min,9.0,96.0,Sidney Lumet,"4,360,000",1,...,0,0,0,0,0,0,0,0,0,0

In [225]:
data.describe()

,Unnamed: 0,IMDB_Rating,Meta_score,Drama,Crime,Action,Biography,Western,Comedy,Adventure,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
count,1000.000000,1000.000000,843.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,...,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,7.949300,77.971530,0.72400,0.209000,0.189000,0.109000,0.02000,0.233000,0.196000,...,0.066000,0.056000,0.137000,0.125000,0.067000,0.051000,0.047000,0.017000,0.019000,0.056000
std,288.819436,0.275491,12.376099,0.44724,0.406798,0.391705,0.311795,0.14007,0.422954,0.397167,...,0.248406,0.230037,0.344019,0.330884,0.250147,0.220108,0.211745,0.129336,0.136593,0.230037
min,0.000000,7.600000,28.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,249.750000,7.700000,70.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,499.500000,7.900000,79.000000,1.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,749.250000,8.100000,87.000000,1.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,999.000000,9.300000,100.000000,1.00000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [226]:
data.dropna(inplace=True)
data.describe()

,Unnamed: 0,IMDB_Rating,Meta_score,Drama,Crime,Action,Biography,Western,Comedy,Adventure,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,...,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.00000,714.000000,714.000000,714.000000
mean,518.572829,7.937115,77.158263,0.700280,0.198880,0.196078,0.123249,0.022409,0.225490,0.228291,...,0.077031,0.060224,0.138655,0.123249,0.078431,0.040616,0.04902,0.015406,0.023810,0.053221
std,295.848106,0.293278,12.401144,0.458456,0.399437,0.397307,0.328954,0.148113,0.418198,0.420026,...,0.266827,0.238068,0.345829,0.328954,0.269038,0.197538,0.21606,0.123248,0.152562,0.224632
min,0.000000,7.600000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,262.250000,7.700000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,526.500000,7.900000,78.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,777.750000,8.100000,86.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,997.000000,9.300000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

In [227]:
dataf = data.drop(data.columns[[0, 1]], axis=1)
dataf.head()

,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,Crime,Action,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,1994,A,142 min,9.3,80.0,Frank Darabont,"28,341,469",1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1972,A,175 min,9.2,100.0,Francis Ford Coppola,"134,966,411",1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2008,UA,152 min,9.0,84.0,Christopher Nolan,"534,858,444",1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1974,A,202 min,9.0,90.0,Francis Ford Coppola,"57,300,000",1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1957,U,96 min,9.0,96.0,Sidney Lumet,"4,360,000",1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [228]:
dataf['Gross'] = dataf['Gross'].str.replace(",", "")
dataf["Gross"] = pd.to_numeric(dataf.loc[:, "Gross"], errors='coerce')

In [229]:
dataf["Runtime"] = dataf["Runtime"].str.replace(" min", "")
dataf["Runtime"] = pd.to_numeric(dataf.loc[:, "Runtime"], errors='coerce')

In [230]:
dataf.head(1)

,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,Crime,Action,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,1994,A,142,9.3,80.0,Frank Darabont,28341469,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [231]:
categoric = ["Certificate", "Director"]
encoded_features = pd.get_dummies(dataf[categoric],
                                  columns=categoric,
                                  drop_first=False)

In [232]:
encoded_features

,Certificate_A,Certificate_Approved,Certificate_G,Certificate_GP,Certificate_PG,Certificate_PG-13,Certificate_Passed,Certificate_R,Certificate_TV-PG,Certificate_U,...,Director_Wolfgang Reitherman,Director_Woody Allen,Director_Xavier Dolan,Director_Yann Samuell,Director_Yash Chopra,Director_Yimou Zhang,Director_Yoshiaki Kawajiri,Director_Yôjirô Takita,Director_Zack Snyder,Director_Zoya Akhtar
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
991,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
992,False,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [233]:
category = dataf.iloc[:, 7:].astype(bool)
category = category.rename(columns=lambda x: "Category_{}".format(x))
category

,Category_Drama,Category_Crime,Category_Action,Category_Biography,Category_Western,Category_Comedy,Category_Adventure,Category_Animation,Category_Horror,Category_Mystery,...,Category_Fantasy,Category_Family,Category_Thriller,Category_Romance,Category_Sci-Fi,Category_War,Category_Music,Category_Musical,Category_Sport,Category_History
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
991,False,False,False,False,False,True,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
992,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
994,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,True,False,False
997,True,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False

In [234]:


dataf["Released_Year"] = pd.to_numeric(dataf.loc[:, "Released_Year"], errors='coerce') / 1000
dataf

,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,Crime,Action,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,1.994,A,142,9.3,80.0,Frank Darabont,28341469,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.972,A,175,9.2,100.0,Francis Ford Coppola,134966411,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2.008,UA,152,9.0,84.0,Christopher Nolan,534858444,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1.974,A,202,9.0,90.0,Francis Ford Coppola,57300000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1.957,U,96,9.0,96.0,Sidney Lumet,4360000,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,1.971,PG,157,7.6,77.0,Sergio Leone,696690,1,0,0,...,0,0,0,0,0,1,0,0,0,0
991,1.970,GP,144,7.6,50.0,Brian G. Hutton,1378435,0,0,0,...,0,0,0,0,0,1,0,0,0,0
992,1.967,U,78,7.6,65.0,Wolfgang Reitherman,141843612,0,0,0,...,0,1,0,0,0,0,0,0,0,0
994,1.964,U,87,7.6,96.0,Richard Lester,13780024,0,0,0,...,0,0,0,0,0,0,1,1,0,0
997,1.953,Passed,118,7.6,85.0,Fred Zinnemann,30500000,1,0,0,...,0,0,0,1,0,1,0,0,0,0

In [235]:
numeric = ['Released_Year', 'Runtime', 'Meta_score','Gross']

In [236]:


dataf = pd.DataFrame(dataf[numeric], 
                                columns=numeric).reset_index()

encoded_features = encoded_features.reset_index()

dataf = dataf.merge(encoded_features, on='index')

dataf = dataf.drop('index', axis=1)


dataf

,Released_Year,Runtime,Meta_score,Gross,Certificate_A,Certificate_Approved,Certificate_G,Certificate_GP,Certificate_PG,Certificate_PG-13,...,Director_Wolfgang Reitherman,Director_Woody Allen,Director_Xavier Dolan,Director_Yann Samuell,Director_Yash Chopra,Director_Yimou Zhang,Director_Yoshiaki Kawajiri,Director_Yôjirô Takita,Director_Zack Snyder,Director_Zoya Akhtar
0,1.994,142,80.0,28341469,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1.972,175,100.0,134966411,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,2.008,152,84.0,534858444,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1.974,202,90.0,57300000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1.957,96,96.0,4360000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,1.971,157,77.0,696690,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
710,1.970,144,50.0,1378435,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
711,1.967,78,65.0,141843612,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
712,1.964,87,96.0,13780024,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
713,1.953,118,85.0,30500000,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [237]:
x = dataf
y = data["IMDB_Rating"]
x.describe()

       Released_Year     Runtime  Meta_score         Gross
count     713.000000  714.000000  714.000000  7.140000e+02
mean        1.995736  123.715686   77.158263  7.851359e+07
std         0.018598   25.887535   12.401144  1.149780e+08
min         1.930000   72.000000   28.000000  1.305000e+03
25%         1.987000  104.250000   70.000000  6.157408e+06
50%         2.001000  120.000000   78.000000  3.485015e+07
75%         2.010000  136.000000   86.000000  1.024641e+08
max         2.019000  238.000000  100.000000  9.366622e+08

In [238]:
def modeling(trainx, trainy, testx, testy):
    model = LinearRegression()
    model.fit(trainx, trainy)
    ypred = model.predict(testx)
    return ypred

def MSE(ypred, testy):
    return mean_squared_error(testy, ypred)

data_shuffled = dataf.sample(frac=1)

In [ ]:
mses = []
for i in range(0, len(data_shuffled) - 4, 10):
    testx = x.iloc[i:i+10, :]
    testy = y.to_frame().iloc[i:i+10, :]
    trainx = x.drop(testx.index)
    trainy = y.to_frame().drop(testx.index)
    ypred = modeling(trainx, trainy, testx, testy)
    mses.append(MSE(ypred, testy))

print("MSE has an average of: {}".format(np.mean(mses)))
print("MSE has a standard deviation of: {}".format(np.std(mses)))

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values